<a href="https://colab.research.google.com/github/Payal2330/data_science_lab_75/blob/main/table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = int(input("Enter a number to display its multiplication table: "))

print(f"Multiplication Table for {num}:")
for i in range(1, 11): # Generates table from 1 to 10
    print(f"{num} x {i} = {num * i}")

Enter a number to display its multiplication table: 3
Multiplication Table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30